<!--Navbar-->
<nav class="navbar navbar-dark default-color">
  {{#if name}}
    <a id="topnav" href="/home">
      <button type="submit" id="topnav-home-btn" class="btn btn-info btn-md my-2 my-sm-0 ml-3">Welcome {{name}}!</button>
    </a>
    {{#if home}}
      <a id='topnav' href="/games">
        <button type="submit" id="search-games" class="btn btn-info btn-md my-2 my-sm-0 ml-3">Search Games</button>
      </a>
      <a id="topnav" href="/lists">
        <button type="submit" id="my-lists" class="btn btn-info btn-md my-2 my-sm-0 ml-3">My Lists</button>
      </a>
      <a id="topnav" href="/profile">
        <button type="submit" id="account-settings" class="btn btn-info btn-md my-2 my-sm-0 ml-3">Account Settings</button>
      </a>
      <a id='topnav' href='/logout'>
        <button type="submit" id="logout-btn" class="btn btn-info btn-md my-2 my-sm-0 ml-3">Logout</button>
      </a>
    {{else if games}}
      <a id='topnav' href="/home">
        <button type="submit" id="search-movies" class="btn btn-info btn-md my-2 my-sm-0 ml-3">Search Movies/TV</button>
      </a>
      <a id="topnav" href="/lists">
        <button type="submit" id="my-lists" class="btn btn-info btn-md my-2 my-sm-0 ml-3">My Lists</button>
      </a>
      <a id="topnav" href="/profile">
        <button type="submit" id="account-settings" class="btn btn-info btn-md my-2 my-sm-0 ml-3">Account Settings</button>
      </a>
      <a id='topnav' href='/logout'>
        <button type="submit" id="logout-btn" class="btn btn-info btn-md my-2 my-sm-0 ml-3">Logout</button>
      </a>
    {{else if lists}}
      <a id='topnav' href="/home">
        <button type="submit" id="search-movies" class="btn btn-info btn-md my-2 my-sm-0 ml-3">Search Movies/TV</button>
      </a>
      <a id='topnav' href="/games">
        <button type="submit" id="search-games" class="btn btn-info btn-md my-2 my-sm-0 ml-3">Search Games</button>
      </a>
      <a id="topnav" href="/profile">
        <button type="submit" id="account-settings" class="btn btn-info btn-md my-2 my-sm-0 ml-3">Account Settings</button>
      </a>
      <a id='topnav' href='/logout'>
        <button type="submit" id="logout-btn" class="btn btn-info btn-md my-2 my-sm-0 ml-3">Logout</button>
      </a>
    {{else}}
      <a id='topnav' href="/home">
        <button type="submit" id="search-movies" class="btn btn-info btn-md my-2 my-sm-0 ml-3">Search Movies/TV</button>
      </a>
      <a id='topnav' href="/games">
        <button type="submit" id="search-games" class="btn btn-info btn-md my-2 my-sm-0 ml-3">Search Games</button>
      </a>
      <a id="topnav" href="/lists">
        <button type="submit" id="my-lists" class="btn btn-info btn-md my-2 my-sm-0 ml-3">My Lists</button>
      </a>
      <a id='topnav' href='/logout'>
        <button type="submit" id="logout-btn" class="btn btn-info btn-md my-2 my-sm-0 ml-3">Logout</button>
      </a>
    {{/if}}
  {{else}}
    {{#if index}}
      <a id='topnav' href="/guestGames">
        <button type="submit" id="guest-games" class="btn btn-info btn-md my-2 my-sm-0 ml-3">Search Games</button>
      </a>
      <a class="login" id='topnav' href="/login">
        <button type="submit" id="login-btn" class="btn btn-info btn-md my-2 my-sm-0 ml-3">Login</button>
      </a>
      {{else}}
      <a id='topnav' href="/">
        <button type="submit" id="guest-movies" class="btn btn-info btn-md my-2 my-sm-0 ml-3">Search Movies/TV</button>
      </a>
      <a class="login" id='topnav' href="/login">
        <button type="submit" id="login-btn" class="btn btn-info btn-md my-2 my-sm-0 ml-3">Login</button>
      </a>
    {{/if}}
  {{/if}}
</nav>